<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.otg">
<head>
<meta charset="ISO-8859-1">
<title>Spring Security</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="pb-2 mt-4 mb-2">
		<h2>Lista contatti</h2>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Username</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="contatto: ${listaContatti}">
				<td th:text="${contatto.nome}"></td>
				<td th:text="${contatto.cognome}"></td>
				<td th:text="${contatto.username}"></td>
			</tr>
		</tbody>
	</table>



</div>
</body>
</html>